#page {
  background-color: none;
  h2.entry-title, h1.entry-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 0;
    a {
      color: #444;
      text-decoration: none;
    }
  }
  .entry-content {
    margin: 0;
  }
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.posted-on, .entry-footer {
  display: none;
}
